altgraph==0.17
atomicwrites==1.4.0
attrs==20.2.0
colorama==0.4.3
future~=0.18.2
importlib-metadata==2.0.0
iniconfig==1.1.1
numpy~=1.19.3
opencv-python==4.4.0.44
packaging==20.4
pefile==2019.4.18
Pillow~=8.3.2
pluggy==0.13.1
py==1.10.0
pygame~=2.0.3
pyparsing==2.4.7
pywin32-ctypes==0.2.0
six==1.15.0
toml==0.10.1
zipp==3.3.0
screeninfo~=0.6.7
pathfinding~=1.0.1
scipy~=1.6.1