{% extends "base.j2" %}


{% block content %}
<h2>Factions</h2>
<table>
    <tr><th></th><th>Name</th><th>Leaders</th><th>Strengths</th><th>Weaknesses</th><th>Favoured Troop</th><th>Region</th></tr>
    {% for faction in factions %}
    <tr>
        <td><img src="{{faction["icon"]}}"></td>
        <td>{{faction["name"]}}</td>
        <td><a href="/leaders?faction={{faction["id"]}}">See leaders</a></td>
        <td>{{faction["strengths"]}}</td>
        <td>{{faction["weaknesses"]}}</td>
        <td>{{faction["favoured-troop"]}}</td>
        <td>{{faction["region"]}}</td>
    </tr>
    {% endfor %}
{% endblock %}

