{% extends "base.j2" %}


{% block content %}
<h2>Sub Units</h2>

<!--

clean up and later when (or if) implement filter

<h2>Filters</h2>

<table border="0">
<tr><th>Troop Class</th><th>Factions</th><th>Regions</th></tr>
<tr>
<td><select><option>(show all)</option></select></td>
<td><select><option>(show all)</option></select></td>
<td><select>
    <option>(show all)</option>
    <option>Europe</option>
    <option>Middle East</option>
    <option>Anatolia</option>
</select></td>
</tr>
</table>
<hr>

-->


<table>
    <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Troop Class</th>
        <th>Faction</th>
        <th>Region</th>
    </tr>
    {% for unit in sub_units %}
    <tr>
        <td><a href="">{{unit["name"]}}</a></td>
        <td>{{unit["race"]}}</td>
        <td>{{unit["troop-class"]}}</td>
        <td> TODO </td>
        <td> TODO </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

